//! **************************************************************************
// Written by: Map P.20131013 on Fri Aug 12 09:46:00 2022
//! **************************************************************************

SCHEMATIC START;
COMP "rx" LOCATE = SITE "V4" LEVEL 1;
COMP "tx" LOCATE = SITE "T9" LEVEL 1;
COMP "clk" LOCATE = SITE "L15" LEVEL 1;
COMP "write_en" LOCATE = SITE "T4" LEVEL 1;
TIMEGRP clk = BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_neg_flanke_puls/i_old" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/state_FSM_FFd2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/state_FSM_FFd3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/state_FSM_FFd1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/state_FSM_FFd4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/state_FSM_FFd5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_31" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_30" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_29" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_28" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_27" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_26" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_25" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_24" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_23" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_22" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_21" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_20" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_19" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_18" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_17" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_16" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_15" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_14" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_13" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_12" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_11" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_10" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_9" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_8" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Transmitter/state_FSM_FFd2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Transmitter/state_FSM_FFd3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Transmitter/state_FSM_FFd1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Transmitter/dataout_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Transmitter/dataout_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Transmitter/dataout_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Transmitter/dataout_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Transmitter/fcs_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Transmitter/fcs_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Transmitter/send" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Transmitter/tx_busy_old" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_12" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_11" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_10" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_9" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_8" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_count_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_count_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_count_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_count_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_state" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_8" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/os_count_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/os_count_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/os_count_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/os_count_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_buffer_10" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_buffer_9" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_buffer_8" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_buffer_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_buffer_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_buffer_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_buffer_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_buffer_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_buffer_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_buffer_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_buffer_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_9" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_8" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_count_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_count_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_count_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_count_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/baud_pulse" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/os_pulse" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_Read_Write/state" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_neg_flanke_puls/state" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/idle_o" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Transmitter/first_flag" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/tx_busy" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_busy" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_Read_Write/Read_en" BEL
        "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 100 MHz HIGH 50%;
SCHEMATIC END;

