//! **************************************************************************
// Written by: Map P.20131013 on Fri Aug 12 14:12:10 2022
//! **************************************************************************

SCHEMATIC START;
COMP "rx" LOCATE = SITE "V4" LEVEL 1;
COMP "tx" LOCATE = SITE "T9" LEVEL 1;
COMP "clk" LOCATE = SITE "L15" LEVEL 1;
COMP "tx_uart" LOCATE = SITE "B16" LEVEL 1;
COMP "write_en" LOCATE = SITE "T4" LEVEL 1;
TIMEGRP clk = BEL "send" BEL "data_0" BEL "data_1" BEL "data_2" BEL "data_3"
        BEL "data_4" BEL "data_5" BEL "data_6" BEL "data_7" BEL "c_0" BEL
        "c_1" BEL "c_2" BEL "c_3" BEL "c_4" BEL "c_5" BEL "c_6" BEL "c_7" BEL
        "c_8" BEL "c_9" BEL "c_10" BEL "c_11" BEL "c_12" BEL "c_13" BEL "c_14"
        BEL "c_15" BEL "c_16" BEL "c_17" BEL "c_18" BEL "c_19" BEL "c_20" BEL
        "c_21" BEL "c_22" BEL "c_23" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_neg_flanke_puls/i_old" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/state_FSM_FFd2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/state_FSM_FFd3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/state_FSM_FFd1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/state_FSM_FFd4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/state_FSM_FFd5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_31" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_30" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_29" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_28" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_27" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_26" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_25" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_24" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_23" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_22" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_21" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_20" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_19" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_18" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_17" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_16" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_15" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_14" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_13" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_12" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_11" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_10" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_9" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_8" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/timer_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/fcs_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/counter_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/FC_o_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/FC_o_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/FC_o_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/FC_o_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/FC_o_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/FC_o_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/FC_o_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/FC_o_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/le_s_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_12" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_11" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_10" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_9" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_8" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_baud_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_count_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_count_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_count_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_count_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_8" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/count_os_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/os_count_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/os_count_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/os_count_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/os_count_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_data_0" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_9" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_8" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_7" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_6" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_5" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_4" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_3" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_2" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_buffer_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/os_pulse" BEL
        "Inst_UART_TX_CTRL/bitIndex_30" BEL "Inst_UART_TX_CTRL/bitIndex_29"
        BEL "Inst_UART_TX_CTRL/bitIndex_28" BEL
        "Inst_UART_TX_CTRL/bitIndex_27" BEL "Inst_UART_TX_CTRL/bitIndex_26"
        BEL "Inst_UART_TX_CTRL/bitIndex_25" BEL
        "Inst_UART_TX_CTRL/bitIndex_24" BEL "Inst_UART_TX_CTRL/bitIndex_23"
        BEL "Inst_UART_TX_CTRL/bitIndex_22" BEL
        "Inst_UART_TX_CTRL/bitIndex_21" BEL "Inst_UART_TX_CTRL/bitIndex_20"
        BEL "Inst_UART_TX_CTRL/bitIndex_19" BEL
        "Inst_UART_TX_CTRL/bitIndex_18" BEL "Inst_UART_TX_CTRL/bitIndex_17"
        BEL "Inst_UART_TX_CTRL/bitIndex_16" BEL
        "Inst_UART_TX_CTRL/bitIndex_15" BEL "Inst_UART_TX_CTRL/bitIndex_14"
        BEL "Inst_UART_TX_CTRL/bitIndex_13" BEL
        "Inst_UART_TX_CTRL/bitIndex_12" BEL "Inst_UART_TX_CTRL/bitIndex_11"
        BEL "Inst_UART_TX_CTRL/bitIndex_10" BEL "Inst_UART_TX_CTRL/bitIndex_9"
        BEL "Inst_UART_TX_CTRL/bitIndex_8" BEL "Inst_UART_TX_CTRL/bitIndex_7"
        BEL "Inst_UART_TX_CTRL/bitIndex_6" BEL "Inst_UART_TX_CTRL/bitIndex_5"
        BEL "Inst_UART_TX_CTRL/bitIndex_4" BEL "Inst_UART_TX_CTRL/bitIndex_3"
        BEL "Inst_UART_TX_CTRL/bitIndex_2" BEL "Inst_UART_TX_CTRL/bitIndex_1"
        BEL "Inst_UART_TX_CTRL/bitIndex_0" BEL "Inst_UART_TX_CTRL/bitTmr_13"
        BEL "Inst_UART_TX_CTRL/bitTmr_12" BEL "Inst_UART_TX_CTRL/bitTmr_11"
        BEL "Inst_UART_TX_CTRL/bitTmr_10" BEL "Inst_UART_TX_CTRL/bitTmr_9" BEL
        "Inst_UART_TX_CTRL/bitTmr_8" BEL "Inst_UART_TX_CTRL/bitTmr_7" BEL
        "Inst_UART_TX_CTRL/bitTmr_6" BEL "Inst_UART_TX_CTRL/bitTmr_5" BEL
        "Inst_UART_TX_CTRL/bitTmr_4" BEL "Inst_UART_TX_CTRL/bitTmr_3" BEL
        "Inst_UART_TX_CTRL/bitTmr_2" BEL "Inst_UART_TX_CTRL/bitTmr_1" BEL
        "Inst_UART_TX_CTRL/bitTmr_0" BEL "Inst_UART_TX_CTRL/txState_FSM_FFd1"
        BEL "Inst_UART_TX_CTRL/txState_FSM_FFd2" BEL "Inst_UART_TX_CTRL/txBit"
        BEL "Inst_UART_TX_CTRL/txData_8" BEL "Inst_UART_TX_CTRL/txData_7" BEL
        "Inst_UART_TX_CTRL/txData_6" BEL "Inst_UART_TX_CTRL/txData_5" BEL
        "Inst_UART_TX_CTRL/txData_4" BEL "Inst_UART_TX_CTRL/txData_3" BEL
        "Inst_UART_TX_CTRL/txData_2" BEL "Inst_UART_TX_CTRL/txData_1" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_neg_flanke_puls/state" BEL
        "Inst_Profibus_Unit/Inst_Profibus_UART/Inst_uart/rx_busy" BEL
        "Inst_Profibus_Unit/Inst_Profibus_Recieve/detect" BEL
        "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 100 MHz HIGH 50%;
SCHEMATIC END;

